/* stylelint-disable */

.oh-review-report-list {
  display: flex;
  flex-wrap: nowrap;
}

.oh-review-report-list .week {
  display: flex;
  padding: 1px;
  border: 1px solid #aaa;
}
.oh-review-report-list .week + .week {
  margin-left: 1em;
}

.oh-review-report-list .day {
  flex: 1;
  padding: 0 2px;
  border: 1px solid #aaa;
  color: rgba(0, 0, 0, 0.25);
}
.oh-review-report-list .day + .day {
  margin-left: 1px;
}

.oh-review-report-list .omissions-only {
  background-color: #eee;
}

.oh-review-report-list .openings-only {
  background-color: #5f7;
}

.oh-review-report-list .closures-only {
  background-color: #f75;
}

.oh-review-report-list .partial-opening {
  background-color: #fe3;
}
