/* stylelint-disable */

/** Fix bad overrides on the part of off_canvas module */
.js #drupal-off-canvas .oh-review-sidebar-preview-container .js-hide {
  display: none !important;
}

/** Form styles */
.oh-review-sidebar-preview-container {
  /** Allow sticky settings container to stick against this element */
  position: relative;
}

.oh-review-sidebar-preview-container .oh-review-sidebar-settings {
  position: sticky;
  top: 0;
  padding: .5em 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #eee;
}

/* Occurrences list */
/* Styles here assume light mode */
.oh-review-occurrences-list .new-month {
  text-align: center;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

.oh-review-occurrences-list .new-month:not(:first-child) {
  border-top: 1px solid #eee;
}

.oh-review-occurrences-list .week {
  margin: .25em 0;
  border: 1px solid #eee;
  border-radius: 5px;
}

.oh-review-occurrences-list .week.this-week .day.today .day-info {
  text-decoration: underline;
  color: #e00;
}

.oh-review-occurrences-list .day > *,
.oh-review-occurrences-list .new-month {
  padding: .25em;
}

.oh-review-occurrences-list .day {
  display: flex;
  flex-wrap: nowrap;
  font-size: .875em;
}

.oh-review-occurrences-list .day + .day {
  margin-top: 1px;
}

.oh-review-occurrences-list .day .day-info {
  min-width: 25%;
  white-space: nowrap;
}

.oh-review-occurrences-list .day .day-times {
  flex: 1;
}

.oh-review-occurrences-list .day .time.is-open {
  border-color: #5f7;
}

.oh-review-occurrences-list .day .time.is-closed {
  border-color: #f75;
}

.oh-review-occurrences-list .day .time {
  border: 2px solid #fe3;
  padding: 2px;
  border-radius: 5px;
}

/** Apply a dark theme when rendered within settings tray */
#drupal-off-canvas .oh-review-occurrences-list * {
  background: none;
}

#drupal-off-canvas .oh-review-occurrences-list .new-month {
  color: #aaa;
}

#drupal-off-canvas .oh-review-occurrences-list .week.this-week .day.today .day-info {
  color: #e00;
}

#drupal-off-canvas .oh-review-occurrences-list .new-month,
#drupal-off-canvas .oh-review-occurrences-list .new-month:not(:first-child),
#drupal-off-canvas .oh-review-occurrences-list .week,
#drupal-off-canvas .oh-review-sidebar-preview-container .oh-review-sidebar-settings {
  border-color: #555;
}
