<div{{ attributes.addClass('oh-review-report-list') }}>
{% apply spaceless %}
{% for week in weeks %}
  <div{{ week.attributes.addClass('week') }}>
    {% for day in week.days %}
      <div{{ day.attributes.addClass('day') }} title="{{ day.day_full }}">
        {{ day.day }}
      </div>
    {% endfor %}
  </div>
{% endfor %}
{% endapply %}
</div>
