{% set monthcode = '' %}
<div{{ attributes.addClass('oh-review-occurrences-list') }}>
  {% apply spaceless %}
    {% for week in weeks %}
      <div{{ week.attributes.addClass('week') }}>
        {% for day in week.days %}
          {% if monthcode != day.month %}
            {# It's a new month #}
            {% set monthcode = day.month %}
            <div class="new-month">{{ day.month_name }}</div>
          {% endif %}

          <div{{ day.attributes.addClass('day') }}>
            <div class="day-info">
              {{ day.day }}
            </div>
            <div class="day-times">
              {% for time in day.times %}
                <div {{ time.attributes.addClass('time') }}>
                  <div class="time-range">
                    {% if not time.is_full_day  %}
                      {{ time.start }}
                      {{ time_separator }}
                      {{ time.end }}
                    {% else %}
                      {{ 'All day'|t }}
                    {% endif %}
                  </div>
                  {% if time.message %}
                    <div class="time-message">
                      {{ time.message }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endapply %}
</div>
